.App {
  text-align: center;
}

.knoware-title {
  margin-top: 160px;
}

.search-container {
  display: flex !important;
  flex-direction: row !important;
  margin-top: 0 !important;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.upload-btn {
  height: 55px;
}

.search-field {
  width: 100%;
}

.header-app-bar {
  background-color: none !important;
  border: none !important;
  box-shadow: none !important;
}

.header-search-input {
  width: 500px;
}

.graph-container {
  display: flex;
  flex-direction: row-reverse;
}

.node-details-container {
  height: 100vh;
  width: 350px;
  border-left: 1px solid grey;
  padding-left: 12px;
}