.App {
  text-align: center;
}

.knoware-title {
  margin-top: 160px;
}

.search-container {
  display: flex !important;
  flex-direction: row !important;
  margin-top: 0 !important;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.upload-btn {
  height: 55px;
  margin-right: 10px !important;
  background-color: white !important;
  color: black !important;
  font-size: 30px !important;
  border-radius: 15px !important;
  border: 1px solid black !important;
}

.search-field {
  width: 100% !important;
  border-radius: 15px !important;
}

.header-app-bar {
  background-color: none !important;
  border: none !important;
  box-shadow: none !important;
}

.header-search-input {
  width: 500px;
}